DATABASE_URL="postgresql://username:password@localhost:5432/examination_db?schema=public&connection_limit=30&pool_timeout=20"
AUTH_SECRET="change-this-to-a-secure-random-secret-key-at-least-32-chars"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
MAX_UPLOAD_SIZE_MB="20"
EXAM_DURATION_MINUTES="60"
